.clinic{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 5%;
  &__icon{
    width: 64px;
    min-width: 64px;
    min-height: 64px;
    height: 64px;
  }
  &__pic{
    width: 64px;
    height: 64px;
    min-width: 64px;
    min-height: 64px;
    border-radius: 50%;
  }
}
