.form-group label {
    text-decoration: none;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #000;
}

.form-group {
    margin-top: 5%;
}

mat-card {
    margin-top: 5%;
}

.alert-danger {
    color: red;
}
