a {
    text-decoration: none;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #FFF;
}

.mat-toolbar-single-row {
    height: inherit;
    min-height: 64px;
}

.menu_icon {
    margin-top: 10px;
    margin-bottom: 10px;
}