<mat-toolbar color="primary" fxLayout="row " fxLayoutAlign="center center" *ngIf="mobile">
    <button mat-button (click)="showMenu=! showMenu " class="menu_icon ">
    Menu
    <mat-icon class="mat-18 " *ngIf="!showMenu ">arrow_downward</mat-icon>
  <mat-icon class="mat-18 " *ngIf="showMenu ">arrow_upward</mat-icon></button>
</mat-toolbar>

<mat-toolbar *ngIf="showMenu || !mobile " fxLayout="row " fxLayoutAlign="space-between center " color="primary" fxLayout.lt-md="column ">

    <mat-list routerLinkActive="active " fxLayout="row " fxLayoutAlign="space-between center " fxLayout.lt-md="column ">
        <mat-list-item fxLayoutAlign="center center ">
            <button class="btn " mat-button><a class="nav-link " routerLink='/'>Home</a></button>
        </mat-list-item>
        <mat-list-item *ngIf="showAdminBoard " fxLayoutAlign="center center ">
            <button class="btn " mat-button><a href="/admin " class="nav-link " [routerLink]='["admin"]'>Admin Board</a></button>
        </mat-list-item>
        <mat-list-item *ngIf="showDoctorBoard " fxLayoutAlign="center center ">
            <button class="btn " mat-button><a href="/mod " class="nav-link " [routerLink]='["mod"]'>Doctor Board</a></button>
        </mat-list-item>
        <mat-list-item fxLayoutAlign="center center ">
            <button class="btn " mat-button><a href="/pets " class="nav-link " *ngIf="isLoggedIn " [routerLink]='["pets"]'>Your pets</a></button>
        </mat-list-item>
        <mat-list-item fxLayoutAlign="center center ">
            <button class="btn " mat-button><a href="/visit " class="nav-link " *ngIf="isLoggedIn " [routerLink]='["visit"]'>Visit doctor</a></button>
        </mat-list-item>
        <mat-list-item fxLayoutAlign="center center ">
            <button class="btn " mat-button><a href="/story " class="nav-link " *ngIf="isLoggedIn " [routerLink]='["story"]'>Show history</a></button>
        </mat-list-item>
    </mat-list>

    <mat-list *ngIf="!isLoggedIn " fxLayout="row " fxLayoutAlign="space-between center " fxLayout.lt-md="column ">
        <mat-list-item fxLayoutAlign="center center ">
            <button class="btn " mat-button><a class="nav-link " routerLink='/auth/register'>Sign Up</a></button>
        </mat-list-item>
        <mat-list-item fxLayoutAlign="center center ">
            <button class="btn " mat-button><a class="nav-link " routerLink='/auth/login'>Login</a></button>
        </mat-list-item>
    </mat-list>

    <mat-list *ngIf="isLoggedIn " fxLayout="row " fxLayoutAlign="space-between center " fxLayout.lt-md="column ">
        <mat-list-item class="nav-item " fxLayoutAlign="center center ">
            <button class="btn " mat-button><a href="/profile " class="nav-link " [routerLink]='["profile"]'>{{ username }}</a></button>
        </mat-list-item>
        <mat-list-item class="nav-item " fxLayoutAlign="center center ">
            <button class="btn " mat-button><a href class="nav-link " (click)="logout() ">LogOut</a></button>
        </mat-list-item>
    </mat-list>
</mat-toolbar>
