
<mat-toolbar>
  <ng-container *ngIf="isAuth$ | async; else notAuth">
    <mat-list routerLinkActive="active">
      <mat-list-item>
          <button class="btn" mat-button routerLink='/'>Home</button>
      </mat-list-item>
      <mat-list-item>
          <button class="btn" mat-button routerLink='/pets'>Your pets</button>
      </mat-list-item>
      <mat-list-item>
        <button class="btn" mat-button routerLink='/visit'>Visit doctor</button>
    </mat-list-item>
    <mat-list-item>
      <button class="btn" mat-button routerLink='/story'>Show history</button>
  </mat-list-item>
  </mat-list>
    <mat-list>
      <mat-list-item class="nav-item">
        <button class="btn" mat-button routerLink='/profile'>Profile</button>
      </mat-list-item>
      <mat-list-item class="nav-item">
        <button class="btn" mat-button (click)="logout()">Log out</button>
      </mat-list-item>
  </mat-list>
  </ng-container>
  <ng-template #notAuth>
    <mat-list>
      <mat-list-item>
          <button class="btn" mat-button routerLink='/auth/register'>Sign Up</button>
      </mat-list-item>
      <mat-list-item>
        <button class="btn" mat-button routerLink='/auth/login'>Log in</button>
      </mat-list-item>
  </mat-list>
  </ng-template>
</mat-toolbar>
